@model RaineVilla_Web.Models.Dto.RegistrationRequestDTO

<form method="post" class="mx-auto mt-5 border rounded border-active p-3" style="width: 400px;">
    <h3>
        <small class="text-muted">Register</small>
    </h3>
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label for="nameInput" class="form-label mt-4">Name</label>
        <input asp-for="Name" type="text" class="form-control" />
    </div>

    <div class="form-group">
        <label for="username" class="form-label mt-4">Username</label>
        <input asp-for="UserName" type="text" class="form-control" />
    </div>

    <div class="form-group">
        <label for="password" class="form-label mt-4">Password</label>
        <input asp-for="Password" type="text" class="form-control" />
    </div>

    <div class="d-grid mt-4">
        <button class="btn btn-primary" type="submit" value="Submit">Register</button>
    </div>

</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
